body {
    background-color: plum;
    background-size: cover;
    background-repeat: no-repeat;
   }

.principal {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(249, 180, 255);
    width: 500px;
    height: 700px;
    margin-left: 90px;
    margin-top: 50px;
   }

.imagen {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
   }

#imagen1   {
    width: 1000px;
    height: 700px;
    border-radius: 0 30px 30px 0;
    margin-left: 500px;
   }

.titulo {
    position: absolute;
    top: 20px; 
    left: 180px; 
    width: 350px;
    font-family: Georgia;
    font-size: 15px;
    color: rgb(69, 0, 38);
}

.perfil {
    position: absolute;
    top: 100px; 
    left: 180px; 
    width: 350px;
   }

#perfil   {
    width: 150px;
  
}

.usuario {
    position: absolute;
    top: 230px; 
    left: 150px; 
    width: 350px;
    font-family: Georgia;
    color: rgb(44, 0, 30);
}

.login {
    position: absolute;
    top: 320px; 
    left: 90px;
}

input {
    width: 300px;
    padding: 12px;
    border: 2px solid #3c042dde;
    margin-bottom: 10px;
}

.bboton {
    width: 120px;
    margin-top: 15px;
    padding: 6px;
    background-color: #ff78f2d4;
    color: rgb(60, 0, 53);
    font-size: 20px;
}

.boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Contraa {
    margin-right: 80px;
    text-decoration: none;
    color: #007BFF;
}

.marie {
    position: absolute;
    bottom: -10px; 
    right: 50px; 
   }

#marie   {
    width: 100px;                   
}

.flecha {
    position: absolute;
    bottom: -50px; 
    right: 80px; 
    width: 350px;
   }

#flecha   {
    width: 200px;
  
}